{% load static %}
{% load wallpaper %}
<!DOCTYPE html>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{#<meta name="keywords" content="htmlcss bootstrap, multi level menu, submenu, treeview nav menu examples" />#}
<meta name="description" content="New Mexico News Aggregator" />

<html>

{% block head %}
    <link rel="shortcut icon" href="{% static '/pages/favicon.ico' %}" type="img/ico"/>
{% endblock %}


{% block title %}


{% endblock %}
    {% include 'navbar.html' %}


{#{% block style %}#}
    {% random_wallpaper as wallpaper %}
    {% if wallpaper %}
        <style>
            body {
                background-image: url({% get_media_prefix %}{{ wallpaper.image }});
                background-repeat: no-repeat;
                background-size: cover;
                background-color: lightgray;
                background-attachment: fixed;
            }
        </style>
    {% endif %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {#            <link rel="stylesheet" type="text/css" href="{% static '/pages/css/styles.css' %}">#}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

{#{% endblock %}#}


{% block script %}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"#}
{#            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"#}
{#            crossorigin="anonymous"></script>#}
{% endblock script %}

{% block style %}

{% endblock %}

{% block body %}

{% endblock body %}


    {% block footer %}

    {% endblock footer %}

</html>