{% extends 'pages/base.html' %}
{% load static %}


{% block title %}
    <title>Albuquerque News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock title %}
{% block style %}
    <style>
        img {
            border: 1px solid deepskyblueblue;
            border-radius: 8px;
        }
        .thumbnail {
            border: 1px solid grey;
            border-radius: 5px;
        }
        .card {
            border: 1px solid black;
            border-radius: 8px;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="sticky-top" style="text-align: center; color: blue; font-size: large">
            <span><h6 style="font-size: large">Albuquerque News</h6></span>
        </div>

        <div class="card-deck">
            {#            <div style="height: 20px;"></div>#}
            {% for n in news %}
                {% if forloop.first %}
                    <div class="row justify-content-center">{% endif %}
            <div class="col-md-6">
                <div class="card mb-5 border-primary" style="background-color: lightsteelblue;">
                    <div class="card-body">
                        <div class="card-header">
                            <p><a href="{{ n.source_url }}"> <img class="thumbnail mx-auto"
                                    src="{{ MEDIA_URL }}{{ n.thumbnail }}"
                                                                  height="40px" alt="img"></a></p>
                            <p class="card-text">{{ n.source }}</p>

                        </div>
                        <div class="card-img">
                            <a href="{{ n.img }}"> <img class="mx-auto d-block" src="{{ n.img }}" width="50%" alt="img"></a>
                            <a href="{{ n.source_url }}" style="color: black; font-size: x-small">
                            </a>
                            <div class="card-title mx-auto font-weight-bold text-black">
                                <a href="{{ n.url }}"><p style="color: black">{{ n.title }}</p></a>
                            </div>
                            <p style="font-size: medium">{{ n.body }}</p>
                            <p style="font-size: x-small">Published: {{ n.published }} Updated: {{ n.updated }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}</div>
                <div class="row justify-content-center">{% endif %}
            {% if forloop.last %}</div>{% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
{% endblock %}
