{% extends 'pages/base.html' %}
{% load static %}

{% block style %}
    <style></style>

{% endblock %}

{% block head %}
    <title>Albuquerque News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock head %}



{% block body %}
    <div class="sticky-top" style="text-align: center; color: blue; font-size: large">
        <span><h6 style="font-size: large">Albuquerque News</h6></span>
    </div>
    <div style="height: 20px;"></div>
    {% for n in news %}
        <div class="container-sm py-3 my-3">
            <div class="card mx-auto" style="width: 80%; background-color: lightgray">
                <div class="card-body">
                <div style="margin-left: 10px">
                    <a href="{{ n.url }}" style="color: black"><h6>{{ n.title }}</h6></a>
                    <a href="{{ n.img }}"> <img src="{{ n.img }}" width="200px" alt="img"></a>
                    <br>
                    <a href="{{ n.source }}" style="color: black; font-size: x-small">
                        <h8>Source</h8>
                    </a>
                    <div style="height: 10px;"></div>
                    <p style="font-size: small">{{ n.body }}</p>
                    <p style="font-size: x-small">Published: {{ n.published }} Updated: {{ n.updated }}</p>
                </div>
                </div>
                <div style="height: 20px;"></div>
            </div>
            <div style="height: 20px;"></div>
        </div>
    {% endfor %}

    </div>

{% endblock %}

{% block script %}
    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
{% endblock %}
