{% load static %}
{% load custom_tags %}

<style>
    .navbar-toggler {
        color: lightblue !important;
    }

    .modal-header, h4, .close {
        background-color: lightsteelblue;
        color: black !important;
        text-align: center;
        font-size: 24px;
    }

    .modal-p {
        color: steelblue;
    }

    .modal-footer {
        background-color: #f9f9f9;
    }

    .modal-body {
        background-color: lightgrey;
        color: black;
    }

    /* Mobile navigation hidden on desktop */
    .mobile-brand,
    .mobile-section-nav {
        display: none;
    }

    @media (max-width: 767px) {

        .navbar {
            display: none !important;
        }

        .mobile-brand {
            display: block;
            text-align: center;
            background: #0d6efd;
            padding: 2px;
        }

        .mobile-brand a {
            color: white;
            text-decoration: none;
            font-size: 12px;
            line-height: 1;
            font-weight: 600;
        }

        .mobile-section-nav {
            display: flex;
            position: sticky;
            top: 0;
            z-index: 1000;

            width: 100%;
            height: 24px;

            align-items: center;
            justify-content: space-around;

            background: #212529;
            padding: 0 4px;
        }

        .mobile-section-nav a {
            color: white;
            text-decoration: none;
            font-size: 8px !important;
            line-height: 1;
            padding: 4px;
            white-space: nowrap;
        }
    }

    @media (max-width: 767px) {

        .mobile-section-nav a.active {
            color: white !important;
            border-bottom: 2px solid white;
            padding-bottom: 2px;
        }
    }
</style>


<!-- Desktop / Tablet Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">

        <a style="font-family: Sofia;
                  font-style: italic;
                  color: white;
                  font-size: 24pt;
                  text-shadow: 3px 3px 3px #ababab;"
           class="navbar-brand"
           href="{% url 'home' %}">
            New Mexico News
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"
             id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- Albuquerque -->
                <li class="nav-item">
                    <a class="nav-link active text-white h4 p-4"
                       aria-current="page"
                       href="{% url 'by_region' 'Albuquerque' %}">
                        Albuquerque
                    </a>
                </li>

                <!-- Regions -->
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle text-white h4 ms-auto p-4"
                       href="#"
                       id="navbarDropdownServices"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Region
                    </a>

                    <ul class="dropdown-menu"
                        aria-labelledby="navbarDropdownServices">

                        <li>
                            <a class="resetSearch dropdown-item h4"
                               href="{% url 'by_region' 'Central' %}">
                                Central
                            </a>
                        </li>

                        <li>
                            <a class="resetSearch dropdown-item h4"
                               href="{% url 'by_region' 'Northern' %}">
                                Northern
                            </a>
                        </li>

                        <li>
                            <a class="resetSearch dropdown-item h4"
                               href="{% url 'by_region' 'Southern' %}">
                                Southern
                            </a>
                        </li>

                        <li>
                            <a class="resetSearch dropdown-item h4"
                               href="{% url 'by_region' 'Eastern' %}">
                                Eastern
                            </a>
                        </li>

                        <li>
                            <a class="resetSearch dropdown-item h4"
                               href="{% url 'by_region' 'Western' %}">
                                Western
                            </a>
                        </li>

                    </ul>
                </li>

                <!-- Politics -->
                <li class="nav-item">
                    <a class="resetSearch nav-link text-white h4 bg-transparent p-4"
                       href="{% url 'by_region' 'Politics' %}">
                        Politics
                    </a>
                </li>

                <!-- Sources -->
                <li class="nav-item">
                    <a class="nav-link text-white h4 bg-transparent p-4"
                       href="{% url 'sources' %}">
                        Sources
                    </a>
                </li>

                <!-- About -->
                <li class="nav-item text-white">

                    <a class="nav-link text-white h4 px-5"
                       href="#"
                       data-toggle="modal"
                       data-target="#myModal2">
                        About
                    </a>

                    <div id="myModal2"
                         class="modal fade">

                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h3>About</h3>
                                </div>

                                <div class="modal-body">
                                    {% get_about_message %}
                                </div>

                            </div>
                        </div>

                    </div>
                </li>

            </ul>


            <!-- Right side -->
            <ul class="navbar-nav ms-auto">

                <!-- Search -->
                <li>
                    <input type="hidden"
                           id="searchBaseURL"
                           value="{% url 'search' 'xxxxx' %}">

                    <form id="searchForm"
                          class="d-flex p-4"
                          role="search">

                        <input id="searchInput"
                               class="form-control me-2"
                               type="search"
                               name="search"
                               placeholder="Search"
                               aria-label="Search"
                               style="width: 200px;">

                        <button class="btn btn-outline-primary bg-white"
                                type="submit">
                            Search
                        </button>

                    </form>
                </li>


                {% if request.user.is_authenticated %}

                    {% if request.user.is_superuser %}

                        <!-- Update -->
                        <li class="nav-item mx-2 d-flex align-items-center">

                            <form method="post"
                                  action="{% url 'news-update' %}"
                                  class="d-flex align-items-center m-0">

                                {% csrf_token %}

                                <button type="submit"
                                        class="nav-link text-white bg-transparent border-0 px-2 py-0 m-0 d-flex align-items-center"
                                        style="cursor: pointer; line-height: 1;"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        title="Update News"
                                        aria-label="Update News">

                                    <span class="glyphicon glyphicon-refresh"
                                          style="color: white;
                                                 font-size: 18px;">
                                    </span>

                                </button>

                            </form>
                        </li>


                        <!-- Admin -->
                        <li class="nav-item mx-2">

                            <a class="nav-link text-white bg-transparent px-2 mt-2"
                               href="/admin"
                               title="Site Administration"
                               aria-label="Site Administration">

                                <span class="glyphicon glyphicon-cog align-bottom"
                                      style="color: white;
                                             font-size: 18px;">
                                </span>

                            </a>
                        </li>

                    {% endif %}


                    <!-- Push Notifications -->
                    <li class="nav-item mx-2 d-flex align-items-center">

                        <button id="pushToggle"
                                type="button"
                                class="nav-link bg-transparent border-0 px-2 py-0 m-0"
                                style="display:block; color:white;"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Enable Notifications">

                            <i id="pushIcon"
                               class="fa-solid fa-bell-slash">
                            </i>

                        </button>
                    </li>


                    <!-- Logout -->
                    <li class="nav-item mx-2">

                        <a class="nav-link text-white bg-transparent px-2 mt-2"
                           href="/logout">

                            <span class="glyphicon glyphicon-log-out align-bottom"
                                  style="color: white;
                                         font-size: 18px;">
                            </span>

                        </a>
                    </li>


                {% else %}

                    <!-- Signup -->
                    <li class="nav-item mx-2">

                        <a class="nav-link text-white bg-transparent px-2 mt-2"
                           href="/signup">

                            <span class="glyphicon glyphicon-user align-bottom"
                                  style="color: white;
                                         font-size: 18px;">
                            </span>

                        </a>
                    </li>


                    <!-- Login -->
                    <li class="nav-item">

                        <a class="nav-link text-white bg-transparent px-2 mt-2"
                           href="{% url 'login' %}">

                            <span class="glyphicon glyphicon-log-in align-bottom"
                                  style="color: white;
                                         font-size: 20px;">
                            </span>

                        </a>
                    </li>

                {% endif %}

            </ul>

        </div>
    </div>
</nav>


<!-- Mobile Header -->
<div class="mobile-brand">
    <a href="{% url 'state_news' %}">
        NM News
    </a>
</div>


<!-- Mobile Navigation -->
<div class="mobile-section-nav">

    <a href="{% url 'latest_news' %}"
       class="{% if request.resolver_match.url_name == 'latest_news' %}active{% endif %}">
        LATEST
    </a>

    <a href="{% url 'state_news' %}"
       class="{% if request.resolver_match.url_name == 'state_news' %}active{% endif %}">
        NM
    </a>

    <a href="{% url 'by_region' 'Albuquerque' %}"
       class="{% if request.resolver_match.url_name == 'by_region' and request.resolver_match.kwargs.region == 'Albuquerque' %}active{% endif %}">
        ABQ
    </a>

    <a href="{% url 'by_region' 'Politics' %}"
       class="{% if request.resolver_match.url_name == 'by_region' and request.resolver_match.kwargs.region == 'Politics' %}active{% endif %}">
        POLITICS
    </a>

    <a href="{% url 'sources' %}"
       class="{% if request.resolver_match.url_name == 'sources' %}active{% endif %}">
        SOURCES
    </a>

</div>

<div id="mobile-section-links"
     data-latest="{% url 'latest_news' %}"
     data-nm="{% url 'state_news' %}"
     data-abq="{% url 'by_region' 'Albuquerque' %}"
     data-politics="{% url 'by_region' 'Politics' %}"
     data-sources="{% url 'sources' %}"
     style="display:none;">
</div>

<script type="text/javascript">

    const searchForm = document.getElementById("searchForm");

    if (searchForm) {

        searchForm.addEventListener("submit", function (event) {

            event.preventDefault();

            const baseURL =
                document.getElementById("searchBaseURL").value;

            const searchTerm =
                document.getElementById("searchInput").value;

            if (searchTerm !== "") {

                const searchURL =
                    baseURL.replace(
                        "xxxxx",
                        encodeURIComponent(searchTerm)
                    );

                window.location.href = searchURL;
            }
        });


        window.addEventListener("load", function () {
            var elements = document.getElementsByClassName("news-body");

            var maxWords =
                window.innerWidth <= 767 ? 10 : 30;

            for (var i = 0; i < elements.length; i++) {
                truncateText(elements[i], maxWords);
            }
        });
        ;


        document
            .getElementById("searchInput")
            .addEventListener("input", function () {

                localStorage.setItem(
                    "searchInput",
                    this.value
                );
            });


        const resetLinks =
            document.querySelectorAll(".resetSearch");

        resetLinks.forEach(function (link) {

            link.addEventListener(
                "click",
                function (event) {

                    event.preventDefault();

                    localStorage.setItem(
                        "searchInput",
                        ""
                    );

                    const href =
                        link.getAttribute("href");

                    if (href) {
                        window.location.href = href;
                    }
                }
            );
        });
    }


    document.addEventListener("DOMContentLoaded", function () {

        if (window.innerWidth > 767) {
            return;
        }

        const nav = document.getElementById("mobile-section-links");

        if (!nav) {
            return;
        }

        const sections = [
            nav.dataset.latest,
            nav.dataset.nm,
            nav.dataset.abq,
            nav.dataset.politics,
            nav.dataset.sources
        ];

        let startX = 0;
        let startY = 0;

        document.addEventListener("touchstart", function (event) {
            startX = event.changedTouches[0].clientX;
            startY = event.changedTouches[0].clientY;
        }, {passive: true});

        document.addEventListener("touchend", function (event) {

            const endX = event.changedTouches[0].clientX;
            const endY = event.changedTouches[0].clientY;

            const dx = endX - startX;
            const dy = endY - startY;

            const minimumSwipe = 80;

            // Only react to a clear horizontal swipe.
            // Vertical movement remains normal scrolling.
            if (Math.abs(dx) <= Math.abs(dy)) {
                return;
            }

            if (Math.abs(dx) < minimumSwipe) {
                return;
            }

            const currentPath = window.location.pathname;

            let currentIndex = sections.findIndex(function (url) {
                return currentPath === url;
            });

            // If we're on another page, start from NM.
            if (currentIndex === -1) {
                currentIndex = 0;
            }

            if (dx < 0) {
                // Swipe left -> previous section
                currentIndex =
                    (currentIndex - 1 + sections.length)
                    % sections.length;
            } else {
                // Swipe right -> next section
                currentIndex =
                    (currentIndex + 1) % sections.length;
            }
            window.location.href = sections[currentIndex];
        }, {passive: true});

    });
</script>