{% extends "admin/index.html" %}

{% block content %}
    <div class="module" style="margin-bottom: 20px;">
        <table>
            <caption>
                <span class="section">Reports</span>
            </caption>
            <tbody>
                <tr>
                    <th scope="row">
                        <a href="{% url 'article-counts' %}">
                            Article Counts by News Source
                        </a>
                    </th>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    {{ block.super }}
{% endblock %}