{% extends 'pages/base.html' %}
{% load static %}

{% block styles %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'affiliate/js/scripts.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/affiliate/css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        {#H1, H2 {#}
        {#    font-family: "Sofia", sans-serif;#}
        {#    font-size: 10pt;#}
        {#    font-style: italic;#}
        {#    text-shadow: 3px 3px 3px #ababab;#}
        {#    margin-left: 20%;#}
        {#}#}
    </style>

{% endblock %}
{% block head %}
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
{#        <title>Shop Homepage</title>#}
    </head>
{% endblock %}

{% block title %}
    <title>Things to do in 'burque</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock title %}


{% block body %}
    <body>
    <!-- Header-->
{#    <header class="bg-secondary">#}
{#        <div class="container px-4 px-sm-5 my-5">#}
{#            <div class="text-center text-white">#}
{#                <p class="display-5">Shop in 'Burque Bro style</p>#}
{#                <p class="lead fw-normal text-white-50 mb-0">Get your Albuquerque related items here.</p>#}
{#            </div>#}
{#        </div>#}
{#    </header>#}
        <div class="brand sticky-top" style="text-align: center; font-size: xx-large">
        <h6 style="text-align: center">Shop in 'Burque style</h6>
    </div>
            <div class="card mx-auto" style="background-color: lightgray; width: 80%">
{#            <div class="row">#}
    <script type="text/javascript">
        amzn_assoc_tracking_id = "burquebro-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_design = "enhanced_links";
        amzn_assoc_asins = "0899977677";
        amzn_assoc_placement = "adunit";
        amzn_assoc_linkid = "06ed0923adcd033c12a0ea21d543c53b";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    <script type="text/javascript">
        amzn_assoc_tracking_id = "burquebro-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_design = "enhanced_links";
        amzn_assoc_asins = "B01B0460JO";
        amzn_assoc_placement = "adunit";
        amzn_assoc_linkid = "0466643fb480357765f974aa180e1356";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    <script type="text/javascript">
        amzn_assoc_tracking_id = "burquebro-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_design = "enhanced_links";
        amzn_assoc_asins = "1943681678";
        amzn_assoc_placement = "adunit";
        amzn_assoc_linkid = "fa669f1559d61c125e9183245d1189b3";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script><!-- Section-->
    <script type="text/javascript">
        amzn_assoc_tracking_id = "burquebro-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_design = "enhanced_links";
        amzn_assoc_asins = "1934907596";
        amzn_assoc_placement = "adunit";
        amzn_assoc_linkid = "250d0e8ceb865bc80763befad87f99f2";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    <script type="text/javascript">
        amzn_assoc_tracking_id = "burquebro-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_design = "enhanced_links";
        amzn_assoc_asins = "B08XYP5TBT";
        amzn_assoc_placement = "adunit";
        amzn_assoc_linkid = "8ab95610dd3423bb282eacfda883c4a8";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
            </div>
{#            </div>#}
    </body>
{% endblock %}
{#{% block footer %}#}
{#    <!-- Footer-->#}
{#    <footer class="bg-secondary">#}
{#        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; 'burque bro 2022'</p></div>#}
{#    </footer>#}
{#{% endblock %}#}
