{% load static %}
{% load custom_tags %}
<style type="text/css">
    .modal-header, h4, .close {
        background-color: lightsteelblue;
        color: white !important;
        text-align: center;
        font-size: 24px;
    }

    .modal-p {
        color: steelblue;
    }

    .modal-footer {
        background-color: #f9f9f9;
    }

    /* ============ desktop view ============ */
    @media all and (min-width: 992px) {

        .dropdown-menu li {
            position: relative;
        }

        .dropdown-menu .submenu {
            display: none;
            position: absolute;
            left: 100%;
            top: -7px;
        }

        .dropdown-menu .submenu-left {
            right: 100%;
            left: auto;
        }

        .dropdown-menu > li:hover {
            background-color: #f1f1f1
        }

        .dropdown-menu > li:hover > .submenu {
            display: block;
        }
    }

    .nav-item {
        font-size: large;
    }

    /* ============ desktop view .end// ============ */

    /* ============ small devices ============ */
    @media (max-width: 991px) {

        .dropdown-menu .dropdown-menu {
            margin-left: 0.7rem;
            margin-right: 0.7rem;
            margin-bottom: .5rem;
        }

    }

    /* ============ small devices .end// ============ */

</style>


<script type="text/javascript">
    //	window.addEventListener("resize", function() {
    //		"use strict"; window.location.reload();
    //	});


    document.addEventListener("DOMContentLoaded", function () {


        /////// Prevent closing from click inside dropdown
        document.querySelectorAll('.dropdown-menu').forEach(function (element) {
            element.addEventListener('click', function (e) {
                e.stopPropagation();
            });
        })


        // make it as accordion for smaller screens
        if (window.innerWidth < 992) {

            // close all inner dropdowns when parent is closed
            document.querySelectorAll('.navbar .dropdown').forEach(function (everydropdown) {
                everydropdown.addEventListener('hidden.bs.dropdown', function () {
                    // after dropdown is hidden, then find all submenus
                    this.querySelectorAll('.submenu').forEach(function (everysubmenu) {
                        // hide every submenu as well
                        everysubmenu.style.display = 'none';
                    });
                })
            });

            document.querySelectorAll('.dropdown-menu a').forEach(function (element) {
                element.addEventListener('click', function (e) {

                    let nextEl = this.nextElementSibling;
                    if (nextEl && nextEl.classList.contains('submenu')) {
                        // prevent opening link if link needs to open dropdown
                        e.preventDefault();
                        console.log(nextEl);
                        if (nextEl.style.display == 'block') {
                            nextEl.style.display = 'none';
                        } else {
                            nextEl.style.display = 'block';
                        }

                    }
                });
            })
        }
        // end if innerWidth

    });
    // DOMContentLoaded  end
</script>

{#</head>#}
{#<body>#}

{#<div class="container">#}

<!-- ============= COMPONENT ============== -->
<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <a style="font-family: Sofia; font-style: italic; color: white; font-size: 24pt; text-shadow: 3px 3px 3px #ababab;"
           class="navbar-brand" href="#">New Mexico News</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav">
                <li class="nav-item"><a style="color: white; font-size: large" class="nav-link" href="#"
                                        data-toggle="modal" data-target="#myModal">
                    About </a>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content modal-p">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" style="color: black">About www.burquebro.com</h4>
                                </div>
                                <div class="modal-body">
                                    <p>{% get_about_message %}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a style="color: white; font-size: large" class="nav-link  dropdown-toggle" href="#"
                       data-bs-toggle="dropdown"> Filter </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="#"> REGION &raquo; </a>
                            <ul class="submenu dropdown-menu">
                                <li><a class="dropdown-item" href="{% url "state_news" %}">New Mexico</a></li>
                                <li><a class="dropdown-item"
                                       href="{% url "by_region" "Albuquerque" %}">Albuquerque</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url "by_region" "Central" %}">Central</a></li>
                                <li><a class="dropdown-item" href="{% url "by_region" "Northern" %}">Northern</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url "by_region" "Southern" %}">Southern</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url "by_region" "Eastern" %}">Eastern</a></li>
                                <li><a class="dropdown-item" href="{% url "by_region" "Western" %}">Western</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#"> CITY &raquo; </a>
                            <ul class="submenu dropdown-menu">
                                {% get_cities as cities %}
                                {% for c in cities %}
                                    <li><a class="dropdown-item" href="{% url "by_city" c %}"
                                           class="dropdown-item">{{ c }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#"> COUNTY &raquo; </a>
                            <ul class="submenu dropdown-menu">
                                {% get_counties as counties %}
                                {% for c in counties %}
                                    <li><a class="dropdown-item" href="{% url "by_county" c %}"
                                           class="dropdown-item">{{ c }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="{% url "by_region" 'Politics' %}">POLITICS </a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a style="color: white; background: transparent" href="/signup"><span
                            class="glyphicon glyphicon-user"></span></a></li>
                    <li><a style="color: white; background: transparent" href="/logout"><span
                            class="glyphicon glyphicon-user"></span></a></li>
                {% else %}
                    <li><a style="color: white; background: transparent" data-toggle="modal"
                           data-target="#myModal2" class="glyphicon glyphicon-log-in"></span></a>
                        {#                        <li class="nav-item"><a style="color: white; font-size: large" class="nav-link" href="#" data-toggle="modal" data-target="#myModal">#}
                        <div id="myModal2" class="modal fade">
                            <div class="modal-dialog modal-login">
                                <div class="modal-content">
                                    <form action="/examples/actions/confirmation.php" method="post">
                                        <div class="modal-header">
                                            <h4 class="modal-title"></h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" class="form-control" required="required">
                                            </div>
                                            <div class="form-group">
                                                <div class="clearfix">
                                                    <label>Password</label>
                                                    <a href="#" class="pull-right text-muted"><small>Forgot?</small></a>
                                                </div>

                                                <input type="password" class="form-control" required="required">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <label class="checkbox-inline pull-left"><input type="checkbox"> Remember me</label>
                                            <input type="submit" class="btn btn-primary pull-right" value="Login">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>

                    </li>
                {% endif %}
            </ul>

        </div> <!-- navbar-collapse.// -->
    </div> <!-- container-fluid.// -->
</nav>

<!-- ============= COMPONENT END// ============== -->

{#</body>#}
{#</html>#}